---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Astro Blog";
---

<BaseLayout>
	<h1>{pageTitle}</h1>
	<p>
		Initially, I'm interested in Astro because it seems to be a very good
		vanilla-like framework. A lot of the others one just add a ton of stuff
		that are not used (looking at you node_modules). Also, if you can add a
		components from another framework. And, let's be honest, you don't like
		a lot of bloatware in your site if you are only rendeding static pages.
	</p>
	<p>
		Also remember that a lot of modules are beign attacked and can
		compromise your website.
	</p>

	{allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</BaseLayout>
