---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/blog/">Blog</a>
		</nav>
		<h1>My Astro Blog</h1>
		<p>
			Initially, I'm interested in Astro because it seems to be a very
			good vanilla-like framework. A lot of the others one just add a ton
			of stuff that are not used (looking at you node_modules). Also, if
			you can add a components from another framework. And, let's be
			honest, you don't like a lot of bloatware in your site if you are
			only rendeding static pages.
		</p>
        <p>
            Also remember that a lot of modules are beign attacked and can compromise your website.
        </p>
	</body>
</html>
