---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.jsx";
const pageTitle = "My Astro Site";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>My super awesome slot subtitle</h2>
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
    <p>Welcome to my new Astro site! - HM</p>
</BaseLayout>
